<div *ngIf="loadedData" class="login-container bg-light">
  <div class="login-box">
    <h1 translate>APP_NAME</h1>
    <div>
      <h6 class="d-inline-block">v{{ version }}</h6>
      <div class="d-inline-block ml-3" ngbDropdown>
        <button id="language-dropdown" class="btn btn-sm btn-secondary" ngbDropdownToggle>{{ currentLanguage }}</button>
        <div ngbDropdownMenu aria-labelledby="language-dropdown">
          <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
            {{ language }}
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center"><i class="far fa-3x fa-user-circle text-muted"></i></h4>
          <form [formGroup]="loginForm" novalidate>
            <div class="form-group">
              <label class="d-block">
                <p-dropdown
                  [options]="documentsTypes"
                  [autoDisplayFirst]="true"
                  formControlName="documentType"
                  [placeholder]="'documentType' | translate"
                  optionLabel="description"
                  dataKey="code"
                >
                </p-dropdown>
                <span hidden translate>documentType</span>
                <small
                  [hidden]="loginForm.controls.documentType.valid || loginForm.controls.documentType.untouched"
                  class="text-danger"
                  translate
                >
                  documentTypeRequired
                </small>
              </label>
              <label class="d-block">
                <input
                  type="text"
                  class="form-control"
                  formControlName="document"
                  autocomplete="document-number"
                  [placeholder]="'documentNumber' | translate"
                />
                <span hidden translate>documentNumber</span>
                <div
                  *ngIf="
                    loginForm.controls.document.invalid &&
                    (loginForm.controls.document.dirty || loginForm.controls.document.touched)
                  "
                >
                  <small *ngIf="loginForm.controls.document.errors.required" class="text-danger" translate>
                    documentNumberRequired
                  </small>
                  <small *ngIf="loginForm.controls.document.errors.maxlength" class="text-danger" translate>
                    documentMaxLength
                  </small>
                </div>
              </label>
              <label class="d-block">
                <input
                  type="text"
                  class="form-control"
                  formControlName="email"
                  autocomplete="email"
                  [placeholder]="'email' | translate"
                />
                <span hidden translate>email</span>
                <div
                  *ngIf="
                    loginForm.controls.email.invalid &&
                    (loginForm.controls.email.dirty || loginForm.controls.email.touched)
                  "
                >
                  <small *ngIf="loginForm.controls.email.errors.required" class="text-danger" translate>
                    emailRequired
                  </small>
                  <small *ngIf="loginForm.controls.email.errors.maxlength" class="text-danger" translate>
                    emailMaxLength
                  </small>
                  <small *ngIf="loginForm.controls.email.errors.invalidEmail" class="text-danger" translate>
                    emailInvalid
                  </small>
                </div>
              </label>
              <label class="d-block">
                <input
                  type="text"
                  class="form-control"
                  formControlName="phone"
                  autocomplete="phone"
                  [placeholder]="'phone' | translate"
                />
                <span hidden translate>phone</span>
                <div
                  *ngIf="
                    loginForm.controls.phone.invalid &&
                    (loginForm.controls.phone.dirty || loginForm.controls.phone.touched)
                  "
                >
                  <small *ngIf="loginForm.controls.phone.errors.required" class="text-danger" translate>
                    phoneRequired
                  </small>
                  <small *ngIf="loginForm.controls.phone.errors.maxlength" class="text-danger" translate>
                    phoneMaxLength
                  </small>
                </div>
              </label>
            </div>
            <button
              (click)="login()"
              class="btn btn-primary w-100"
              type="submit"
              [disabled]="loginForm.invalid || isLoading"
            >
              <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i> <span translate>Login</span>
            </button>
            <div class="mt-3"><button (click)="openRegisterModal()">OPEN MODAL</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
