<div class="login-container bg-light">
  <div class="login-box">
    <h1 translate>APP_NAME</h1>
    <div>
      <h6 class="d-inline-block">v{{ version }}</h6>
      <div class="d-inline-block ml-3" ngbDropdown>
        <button id="language-dropdown" class="btn btn-sm btn-secondary" ngbDropdownToggle>{{ currentLanguage }}</button>
        <div ngbDropdownMenu aria-labelledby="language-dropdown">
          <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
            {{ language }}
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center"><i class="far fa-3x fa-user-circle text-muted"></i></h4>
          <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
              Username or password incorrect.
            </div>
            <div class="form-group">
              <label class="d-block">
                <input
                  type="text"
                  class="form-control"
                  formControlName="documentType"
                  autocomplete="document-type"
                  [placeholder]="'documentType' | translate"
                />
                <span hidden translate>documentType</span>
                <small
                  [hidden]="loginForm.controls.documentType.valid || loginForm.controls.documentType.untouched"
                  class="text-danger"
                  translate
                >
                  TipoDocumentoRequerido
                </small>
              </label>
              <label class="d-block">
                <input
                  type="text"
                  class="form-control"
                  formControlName="document"
                  autocomplete="document-number"
                  [placeholder]="'documentNumber' | translate"
                />
                <span hidden translate>documentNumber</span>
                <small
                  [hidden]="loginForm.controls.document.valid || loginForm.controls.document.untouched"
                  class="text-danger"
                  translate
                >
                  documentNumberRequired
                </small>
              </label>
              <label class="d-block">
                <input
                  type="text"
                  class="form-control"
                  formControlName="phone"
                  autocomplete="phone"
                  [placeholder]="'phone' | translate"
                />
                <span hidden translate>email</span>
                <small
                  [hidden]="loginForm.controls.phone.valid || loginForm.controls.phone.untouched"
                  class="text-danger"
                  translate
                >
                  phoneRequired
                </small>
              </label>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" formControlName="remember" />
                  <span translate>Remember me</span>
                </label>
              </div>
            </div>
            <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid || isLoading">
              <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i> <span translate>Login</span>
            </button>

            <button (click)="openRegisterModal()">OPEN MODAL</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
