<div class="container-fluid">
  <div class="jumbotron text-center p-2 my-1">
    <h1><img class="logo" src="assets/ibm-logo.png" alt="angular logo" /></h1>
    <h3 translate>Webapp test</h3>
  </div>
  <app-carousel></app-carousel>
  <div id="search-box" class="row">
    <div class="col-md-12">
      <app-search-box (userResult)="onChangeUser($event)"></app-search-box>
      <div></div>
      <div class="row">
        <div class="col-md-12">
          <app-user-search [userData]="userResult"></app-user-search>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
